In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime

In [251]:
df = pd.read_csv('df_scores_master.csv')
df.rename(columns = {'Unnamed: 0': 'GAMEID'}, inplace = True)
df['Date'] = pd.to_datetime(df['Date'], yearfirst = False)
df.head()

   GAMEID    Visitor  VisitorScore     Home  HomeScore       Date
0       0     Lakers           109   Pacers         94 2010-12-15
1       1    Celtics           118   Knicks        116 2010-12-15
2       2   Clippers            91    76ers        105 2010-12-15
3       3      Bulls           110  Raptors         93 2010-12-15
4       4  Cavaliers            95     Heat        101 2010-12-15

In [252]:
df['Visitor'].unique()

array(['Lakers', 'Celtics', 'Clippers', 'Bulls', 'Cavaliers', 'Bobcats',
       'Kings', 'Rockets', 'Bucks', 'Timberwolves', 'Trail Blazers',
       'Wizards', 'Hawks', 'Spurs', 'Heat', 'Nets', 'Jazz', 'Grizzlies',
       'Suns', '76ers', 'Knicks', 'Warriors', 'Pacers', 'Hornets',
       'Magic', 'Mavericks', 'Thunder', 'Pistons', 'Nuggets', 'Raptors',
       'East', 'Rookies', 'West', 'Team Shaq', 'Shaq', 'Pelicans', 'Hill',
       'World', 'USA', 'LeBron', 'Away'], dtype=object)

We can see that we have more teams that we want (due to All-Star weekend)

In [253]:
#get the index of the games we don't want
wrong_teams = ['East', 'Rookies', 'West', 'Team Shaq', 'Shaq', 'Hill', 'World', 'USA', 'LeBron', 'Away']
idx = []
for wrong_team in wrong_teams:
    idx_list = df[df['Visitor'] == wrong_team].index.to_list()
    idx += idx_list
df.drop(idx, inplace = True)

In [254]:
#unify the name Pelicans and Hornets to the right franchise

#first apparition of the Pells the 2013-11-01
df['Visitor'][(df['Visitor'] == 'Hornets') & (df['Date'] < datetime.datetime(2013, 11, 1))] = 'Pelicans'
#last apparition of the Bobcats the 2014-04-14
df['Visitor'][(df['Visitor'] == 'Bobcats') & (df['Date'] <= datetime.datetime(2014, 4, 14))] = 'Hornets'

<ipython-input-254-f3fb3ebf5369>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Visitor'][(df['Visitor'] == 'Hornets') & (df['Date'] < datetime.datetime(2013, 11, 1))] = 'Pelicans'
<ipython-input-254-f3fb3ebf5369>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Visitor'][(df['Visitor'] == 'Bobcats') & (df['Date'] <= datetime.datetime(2014, 4, 14))] = 'Hornets'

In [255]:
print(df['Visitor'].unique())
print(df['Home'].unique())

['Lakers' 'Celtics' 'Clippers' 'Bulls' 'Cavaliers' 'Hornets' 'Kings'
 'Rockets' 'Bucks' 'Timberwolves' 'Trail Blazers' 'Wizards' 'Hawks'
 'Spurs' 'Heat' 'Nets' 'Jazz' 'Grizzlies' 'Suns' '76ers' 'Knicks'
 'Warriors' 'Pacers' 'Pelicans' 'Magic' 'Mavericks' 'Thunder' 'Pistons'
 'Nuggets' 'Raptors']
['Pacers' 'Knicks' '76ers' 'Raptors' 'Heat' 'Grizzlies' 'Hornets'
 'Thunder' 'Spurs' 'Suns' 'Mavericks' 'Nets' 'Celtics' 'Nuggets' 'Hawks'
 'Pistons' 'Rockets' 'Trail Blazers' 'Magic' 'Wizards' 'Cavaliers' 'Bulls'
 'Bucks' 'Kings' 'Warriors' 'Clippers' 'Bobcats' 'Lakers' 'Timberwolves'
 'Jazz' 'Pelicans']

In [256]:
teams = df['Visitor'].unique()

In [257]:
def select_season(df, season):
    """
    Args: Master dataframe, and first year of the season we want to retrieve (2010 means we are gonna
    retrieve the 2010-2011 season)
    Return: DataFrame of with all games of the season
    """
    
    #I consider that the first July the season as NBA hollidays
    #so for the upcoming year the season will finished at this date
    #for the current year we take all games after this date
    
    #we can make something more sophisticated if we want
    
    date_limit_up = datetime.datetime(season+1, 7, 1)
    date_limit_down = datetime.datetime(season, 7, 1)
    return df[(date_limit_down < df['Date']) &  (df['Date'] < date_limit_up)]

In [258]:
def list_to_string(l):
    res = ''
    for element in l:
        res += element + ', '
    return res

In [259]:
def test_write_team_typing(df, team):
    """
    Args: df of scores
    """
    teams = df['Visitor'].unique()
    if team not in teams:
        raise ValueError('Please select a team inside the following: ' + list_to_string(teams))

In [260]:
def select_team(df, team):
    """
    Args: df: DataFrame score or a DataFrame with the same structure
    
    retrun: DataFrame with just the game played by a team
    """
    
    test_write_team_typing(df, team)
        
    df_res = df[(df['Visitor'] == team) | (df['Home'] == team)]
    return df_res

In [261]:
df_2015 = select_season(df, 2015)

In [262]:
df_2015.head()

      GAMEID    Visitor  VisitorScore      Home  HomeScore       Date
5629    5629    Pistons           106     Hawks         94 2015-10-27
5630    5630  Cavaliers            95     Bulls         97 2015-10-27
5631    5631   Pelicans            95  Warriors        111 2015-10-27
5632    5632    Wizards            88     Magic         87 2015-10-28
5633    5633      76ers            95   Celtics        112 2015-10-28

In [263]:
df_laks = select_team(df_2015, 'Lakers')

In [264]:
df_laks

      GAMEID       Visitor  VisitorScore      Home  HomeScore       Date
5645    5645  Timberwolves           112    Lakers        111 2015-10-28
5659    5659        Lakers           114     Kings        132 2015-10-30
5673    5673     Mavericks           103    Lakers         93 2015-11-01
5687    5687       Nuggets           120    Lakers        109 2015-11-03
5705    5705        Lakers           104      Nets         98 2015-11-06
...      ...           ...           ...       ...        ...        ...
6803    6803      Clippers            91    Lakers         81 2016-04-06
6815    6815        Lakers           102  Pelicans        110 2016-04-08
6826    6826        Lakers           110   Rockets        130 2016-04-10
6840    6840        Lakers            79   Thunder        112 2016-04-11
6859    6859          Jazz            96    Lakers        101 2016-04-13

[82 rows x 6 columns]

In [216]:
df_stats = pd.read_csv('df_stats_master.csv')
print(df_stats.shape)
df_stats.drop(columns = ['Unnamed: 0'], inplace = True)
df_stats['GAMEID'].iloc[0] = 0 #change the first id to 0 to respect the order in df_score master
#THE OTHER IDS SEEMS TO CORRESPOND TO THE ONE IN the df_score_master
df_stats

(99544, 24)

C:\Users\harol\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,PLAYER,TEAM,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,+/-,GAMEID
0,Rajon Rondo,Boston Celtics,34:09:00,5,10,50.0,0,2,0.0,0,...,1,3,14,1,0,6,1,10,-8,0
1,Danilo Gallinari,New York Knicks,42:35:00,8,14,57.1,1,3,33.3,3,...,2,3,3,0,0,1,3,20,1,1
2,Blake Griffin,Los Angeles Clippers,39:08:00,6,16,37.5,0,0,0.0,8,...,13,18,5,1,1,2,2,20,-17,2
3,DeAndre Jordan,Los Angeles Clippers,35:29:00,7,7,100.0,0,0,0.0,1,...,6,6,0,0,3,0,4,15,1,2
4,Eric Gordon,Los Angeles Clippers,37:08:00,6,18,33.3,1,5,20.0,3,...,0,5,4,0,0,5,1,16,-23,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99539,Damian Jones,Sacramento Kings,35:56:00,9,13,69.2,0,2,0.0,1,...,4,5,1,1,1,3,4,19,-13,11632
99540,Buddy Hield,Sacramento Kings,30:43:00,5,12,41.7,1,7,14.3,2,...,6,7,9,1,0,1,0,13,-16,11632
99541,Delon Wright,Sacramento Kings,30:32:00,3,8,37.5,1,5,20.0,0,...,3,3,3,1,2,2,1,7,-14,11632
99542,Terence Davis,Sacramento Kings,31:48:00,8,14,57.1,2,5,40.0,2,...,2,3,1,2,0,2,3,20,-30,11632
99543,Jahmi'us Ramsey,Sacramento Kings,21:12,5,9,55.6,1,3,33.3,1,...,1,1,1,0,0,1,4,12,1,11632

In [291]:
#cleaning
wrong_teams = ['Rookies Rookies', 'Sophomores Sophomores',
       'East NBA All Stars East', 'West NBA All Stars West','Team Shaq Team Shaq',
       'Team Chuck Team Chuck','Team Shaq', 'Team Chuck', 'Team Hill',
        'Team Webber', 'World World', 'USA USA','Team LeBron', 'Team Stephen', 'Team Giannis', 
               'Team Durant']

idx = []
for wrong_team in wrong_teams:
    idx_list = df_stats[df_stats['TEAM'] == wrong_team].index.to_list()
    idx += idx_list
print(df_stats.shape)
df_stats.drop(idx, inplace = True)
print(df_stats.shape)
print(df_stats['TEAM'].unique())

(99240, 23)
(99240, 23)
['Boston Celtics' 'New York Knicks' 'Los Angeles Clippers'
 'Philadelphia 76ers' 'Chicago Bulls' 'Toronto Raptors' 'Miami Heat'
 'Charlotte Bobcats' 'Memphis Grizzlies' 'New Orleans Hornets'
 'Houston Rockets' 'Oklahoma City Thunder' 'San Antonio Spurs'
 'Minnesota Timberwolves' 'Phoenix Suns' 'Portland Trail Blazers'
 'Washington Wizards' 'New Jersey Nets' 'Atlanta Hawks' 'Denver Nuggets'
 'Utah Jazz' 'Orlando Magic' 'Golden State Warriors' 'Indiana Pacers'
 'Milwaukee Bucks' 'Cleveland Cavaliers' 'Sacramento Kings'
 'Dallas Mavericks' 'Los Angeles Lakers' 'Detroit Pistons' 'Brooklyn Nets'
 'New Orleans Pelicans' 'Charlotte Hornets' 'LA Clippers']

In [297]:
#change each team name in statistics dataframe to the franhcise name
#New Jersey Nets became Brooklyn Nets so no need to change
#New Orleans Hornets will be Pellicans
#Charlotte Hornets  will be Bobcats
#LA Clippers and Los Angeles Clippers

#didn't find other choice than do it manually
dict_ = {}
dict_['Boston Celtics'] = 'Celtics'
dict_['New York Knicks'] = 'Knicks'
dict_['Los Angeles Clippers'] = 'Clippers'
dict_['Philadelphia 76ers'] = '76ers'
dict_['Chicago Bulls'] = 'Bulls'
dict_['Toronto Raptors'] = 'Raptors'
dict_['Miami Heat'] = 'Heat'
dict_['Charlotte Bobcats'] = 'Hornets'
dict_['Memphis Grizzlies'] = 'Grizzlies'
dict_['New Orleans Hornets'] = 'Pelicans'
dict_['Houston Rockets'] = 'Rockets'
dict_['Oklahoma City Thunder'] = 'Thunder'
dict_['San Antonio Spurs'] = 'Spurs'
dict_['Minnesota Timberwolves'] = 'Timberwolves'
dict_['Phoenix Suns'] = 'Suns'
dict_['Portland Trail Blazers'] = 'Trail Blazers'
dict_['Washington Wizards'] = 'Wizards'
dict_['New Jersey Nets'] = 'Nets'
dict_['Atlanta Hawks'] = 'Hawks'
dict_['Denver Nuggets'] = 'Nuggets'
dict_['Utah Jazz'] = 'Jazz'
dict_['Orlando Magic'] = 'Magic'
dict_['Golden State Warriors'] = 'Warriors'
dict_['Indiana Pacers'] = 'Pacers'
dict_['Milwaukee Bucks'] = 'Bucks'
dict_['Cleveland Cavaliers'] = 'Cavaliers'
dict_['Sacramento Kings'] = 'Kings'
dict_['Dallas Mavericks'] = 'Mavericks'
dict_['Los Angeles Lakers'] = 'Lakers'
dict_['Detroit Pistons'] = 'Pistons'
dict_['Brooklyn Nets'] = 'Nets'
dict_['New Orleans Pelicans'] = 'Pelicans'
dict_['Charlotte Hornets'] = 'Hornets'
dict_['LA Clippers'] = 'Clippers'

old_team_names = list(dict_.keys())
for old_team_name in old_team_names:
    df_stats['TEAM'][df_stats['TEAM'] == old_team_name] = dict_[old_team_name]
    
df_stats['TEAM'].unique()

<ipython-input-297-8734f3a57c07>:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stats['TEAM'][df_stats['TEAM'] == old_team_name] = dict_[old_team_name]

array(['Celtics', 'Knicks', 'Clippers', '76ers', 'Bulls', 'Raptors',
       'Heat', 'Hornets', 'Grizzlies', 'Pelicans', 'Rockets', 'Thunder',
       'Spurs', 'Timberwolves', 'Suns', 'Trail Blazers', 'Wizards',
       'Nets', 'Hawks', 'Nuggets', 'Jazz', 'Magic', 'Warriors', 'Pacers',
       'Bucks', 'Cavaliers', 'Kings', 'Mavericks', 'Lakers', 'Pistons'],
      dtype=object)

In [304]:
np.sort(df_stats['TEAM'].unique()) == np.sort(df['Visitor'].unique())

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [222]:
def retrieve_game_performance_id(df, game_id):
    """
    Args: df: DataFrame with stats, game_id: Id of the game
    
    Return: DataFrame with the performance of the players during this game
    """
    return df[df['GAMEID'] == game_id]

In [224]:
retrieve_game_performance_id(df_stats, 3)

,PLAYER,TEAM,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,+/-,GAMEID
10,Derrick Rose,Chicago Bulls,29:37:00,3,9,33.3,0,2,0.0,0,...,1,3,11,2,0,5,0,6,22,3
11,Taj Gibson,Chicago Bulls,30:56:00,3,11,27.3,0,1,0.0,0,...,3,6,1,1,4,2,1,6,0,3
12,Ed Davis,Toronto Raptors,32:15:00,5,9,55.6,0,0,0.0,0,...,5,10,2,1,1,1,3,10,-24,3
13,DeMar DeRozan,Toronto Raptors,30:43:00,4,12,33.3,0,0,0.0,4,...,0,0,0,2,1,1,3,12,-19,3

In [319]:
#if we want to retrieve the stats per date for one team
def retrieve_game_perfomance_day_and_team(df1, df2, date, team):
    """
    Args: df1: dataFrame like df_score,
            df2: dataFrame with stats player or teams one
            date: should be a string of the form 'YEAR-MONTH-DAY' or datetime.datetime(year, month, day)
            team: the team we want to retrieve the datas
            
    return: dataFrame with the statistics of the game at the date and of the team
    """
    
    #we suppose that a team can't play two times the same day of course
    
    if type(date) == str:
        date_split = date.split('-')
        date = datetime.datetime(int(date_split[0]), int(date_split[1]), int(date_split[2]))
    
    df_date = df1[df1['Date'] == date]
    test_write_team_typing(df1, team)
    if df_date[df_date['Home'] == team].shape[0] == 0:
        if df_date[df_date['Visitor'] == team].shape[0] == 0:
            raise ValueError('I think that the ' + team + ' didn\'t play the ' 
                             + date.strftime('%Y-%m-%d'))
        else :
            game_id = df_date[df_date['Visitor'] == team]['GAMEID']
    else:
        game_id = df_date[df_date['Home'] == team]['GAMEID']
    game_id = int(game_id)
    print(game_id)
    df_stat = df2[df2['GAMEID'] == game_id]
    df_stat = df_stat[df_stat['TEAM'] == team]
    return df_stat

In [320]:
retrieve_game_perfomance_day_and_team(df, df_stats, '2018-11-06', 'Wizards')

9467

,PLAYER,TEAM,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,+/-,GAMEID
66019,Markieff Morris,Wizards,22:25,2,8,25.0,0,4,0.0,0,...,1,1,3,0,0,2,5,4,-15,9467
66020,Dwight Howard,Wizards,32:56:00,3,5,60.0,0,0,0.0,2,...,9,11,2,0,1,1,3,8,-13,9467
66021,Bradley Beal,Wizards,36:53:00,7,18,38.9,1,9,11.1,4,...,6,6,4,1,2,2,3,19,-15,9467
66022,John Wall,Wizards,41:02:00,8,20,40.0,2,6,33.3,6,...,3,4,10,3,1,2,3,24,-11,9467
66023,Austin Rivers,Wizards,18:46,3,7,42.9,2,4,50.0,0,...,1,1,1,0,0,1,2,8,-5,9467
66024,Jeff Green,Wizards,15:04,3,4,75.0,1,1,100.0,1,...,1,2,1,0,0,2,2,8,-6,9467
66025,Tomas Satoransky,Wizards,5:42,0,1,0.0,0,0,0.0,0,...,0,0,0,1,0,0,0,0,-8,9467
66026,Thomas Bryant,Wizards,1:16,0,0,0.0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,9467