In [1]:
import pandas as pd
import datetime

In [2]:
def adjust_id_and_concatenate(df1, df2):
    max_id = df1.iloc[-1]['GAMEID']
    new_id = max_id + 1
    df2_copy = df2.copy()
    for k in range(df2.shape[0]):
        df2_copy.loc[k, 'GAMEID'] = df2_copy.loc[k, 'GAMEID'] + new_id
    df_res = pd.concat([df1, df2_copy], axis = 0)
    df_res.reset_index(inplace = True)
    df_res.drop(columns = ['index'], inplace = True)
    return df_res

def following_ids(df_scores, df):
    #make sure the game ID match between the score and a dataframe team_stats
    df_scores_copy = df_scores.copy()
    df_copy = df.copy()
    for i in range(df_scores.shape[0]):
        id_team = df_scores_copy.loc[i, 'Home'].split(' ')[-1]
        game_id = df_scores_copy.loc[i, 'GAMEID']
        #print(game_id, id_team)
        try:
            ob_team = df_copy[df_copy['GAMEID'] == game_id].iloc[-1]['TEAM'].split(' ')[-1]
        except IndexError:
            continue
        if ob_team != id_team:
            print(id_team, ob_team, game_id)
            print('ERROR AT GAME ID {}'.format(game_id))
            print('TEAM DF_TEAM {}'.format(ob_team))
            print('TEAM DF_SCORE {}'.format(id_team))
            return df_scores[i, i+10]
        
def add_date(df_scores, df2):
    df_copy = df2.copy()
    df_copy['Date'] = ''
    df_scores_copy = df_scores.copy()
    for i in range(df2.shape[0]):
        game_id = df_copy.loc[i, 'GAMEID']
        date = df_scores_copy['Date'][df_scores_copy['GAMEID'] == game_id]
        df_copy.loc[i, 'Date'] = date.values
    return df_copy

In [3]:
#import all scores datas
df_scores_10 = pd.read_csv('df_scores_2010-2011.csv')
df_scores_11 = pd.read_csv('df_score_2011-2012_update.csv')
df_scores_12 = pd.read_csv('df_score_2012-13_update.csv')
df_scores_13 = pd.read_csv('df_score_2013-14_clean.csv')
df_scores_14 = pd.read_csv('df_score_2014-2015_update.csv')
df_scores_15 = pd.read_csv('df_scores_2015-2016_clean.csv')
df_scores_16 = pd.read_csv('df_score_2016-2017_update.csv')
df_scores_17 = pd.read_csv('df_scores_2017-2018_clean.csv')
df_scores_18 = pd.read_csv('df_scores_2018-2019_clean.csv')
df_scores_20 = pd.read_csv('df_scores_2020-2021_clean.csv')

#get the right column
#df_scores_10.rename(columns = {'Unnamed: 0.1': 'GAMEID'}, inplace = True)
#df_scores_10['Date'] = pd.to_datetime(df_scores_10['Date'], yearfirst = False)
#df_scores_12.rename(columns = {'Unnamed: 0': 'GAMEID'}, inplace = True)
#df_scores_12['Date'] = pd.to_datetime(df_scores_12['Date'], yearfirst = False)
#df_scores_14.rename(columns = {'Unnamed: 0': 'GAMEID'}, inplace = True)
#df_scores_14['Date'] = pd.to_datetime(df_scores_14['Date'], yearfirst = False)
#df_scores_15.rename(columns = {'Unnamed: 0': 'GAMEID'}, inplace = True)
#df_scores_15['Date'] = pd.to_datetime(df_scores_15['Date'], yearfirst = False)
#df_scores_16.rename(columns = {'Unnamed: 0': 'GAMEID'}, inplace = True)
#df_scores_16['Date'] = pd.to_datetime(df_scores_16['Date'], yearfirst = False)
df_scores_17.rename(columns = {'Unnamed: 0': 'GAMEID'}, inplace = True)
#df_scores_17['Date'] = pd.to_datetime(df_scores_17['Date'], yearfirst = False)
df_scores_18.rename(columns = {'Unnamed: 0': 'GAMEID'}, inplace = True)
#df_scores_18['Date'] = pd.to_datetime(df_scores_18['Date'], yearfirst = False)
df_scores_20.rename(columns = {'Unnamed: 0': 'GAMEID'}, inplace = True)
#df_scores_20['Date'] = pd.to_datetime(df_scores_20['Date'], yearfirst = False)

df_scores_10.drop(columns = ['Unnamed: 0'], inplace = True)
df_scores_11.drop(columns = ['Unnamed: 0'], inplace = True)
df_scores_12.drop(columns = ['Unnamed: 0'], inplace = True)
df_scores_13.drop(columns = ['Unnamed: 0'], inplace = True)
df_scores_14.drop(columns = ['Unnamed: 0'], inplace = True)
df_scores_15.drop(columns = ['Unnamed: 0'], inplace = True)
df_scores_16.drop(columns = ['Unnamed: 0'], inplace = True)

df_scores_16

        Visitor  VisitorScore           Home  HomeScore        Date  GAMEID
0        Knicks            88      Cavaliers        117  2016-10-25       0
1          Jazz           104  Trail Blazers        113  2016-10-25       1
2         Spurs           129       Warriors        100  2016-10-25       2
3          Heat           108          Magic         96  2016-10-26       3
4     Mavericks           121         Pacers        130  2016-10-26       4
...         ...           ...            ...        ...         ...     ...
1228      Hawks            86         Pacers        104  2017-04-12    1228
1229      Spurs            97           Jazz        101  2017-04-12    1229
1230      Kings            95       Clippers        115  2017-04-12    1230
1231     Lakers            94       Warriors        109  2017-04-12    1231
1232   Pelicans           103  Trail Blazers        100  2017-04-12    1232

[1233 rows x 6 columns]

In [5]:
#import all team stats datas
df_team_10 = pd.read_csv('team_stats_2010-2011.csv')
df_team_11 = pd.read_csv('df_team_2011-2012_update.csv')
df_team_12 = pd.read_csv('df_team_2012-13_update.csv')
df_team_13 = pd.read_csv('df_team_2013-14_clean.csv')
df_team_14 = pd.read_csv('df_team_2014-2015_update.csv')
df_team_15 = pd.read_csv('df_team_stats_2015-2016_clean.csv')
df_team_16 = pd.read_csv('df_team_2016-2017_update.csv')
df_team_17 = pd.read_csv('team_stats_2017-18_clean.csv')
df_team_18 = pd.read_csv('team_stats_2018-19_clean.csv')
df_team_20 = pd.read_csv('df_team_stats_2020-21_clean.csv')

#some adjustement
df_team_10.drop(columns = ['Unnamed: 0'], inplace = True)
df_team_11.drop(columns = ['Unnamed: 0'], inplace = True)
df_team_12.drop(columns = ['Unnamed: 0'], inplace = True)
df_team_13.drop(columns = ['Unnamed: 0'], inplace = True)
df_team_14.drop(columns = ['Unnamed: 0'], inplace = True)
df_team_15.drop(columns = ['Unnamed: 0'], inplace = True)
df_team_16.drop(columns = ['Unnamed: 0'], inplace = True)
df_team_17.drop(columns = ['Unnamed: 0'], inplace = True)
df_team_18.drop(columns = ['Unnamed: 0'], inplace = True)
df_team_20.drop(columns = ['Unnamed: 0'], inplace = True)

#df_team_10.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
#df_team_11.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
df_team_12.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
df_team_13.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
df_team_14.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
df_team_15.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
df_team_16.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
df_team_17.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
df_team_18.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
df_team_20.rename(columns = {'GAME-ID': 'GAMEID'}, inplace = True)
        

df_team_18

,TEAM,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,...,REB,AST,STL,BLK,TO,PF,PTS,+/-,HOME,GAMEID
0,Philadelphia 76ers,34,87,39.1,5,26,19.2,14,23,60.9,...,47,18,8,5,16,20,87,-18,0,0
1,Boston Celtics,42,97,43.3,11,37,29.7,10,14,71.4,...,55,21,7,5,14,20,105,18,1,0
2,Oklahoma City Thunder,33,91,36.3,10,37,27.0,24,37,64.9,...,45,21,12,6,14,21,100,-8,0,1
3,Golden State Warriors,42,95,44.2,7,26,26.9,17,18,94.4,...,58,28,7,7,21,29,108,8,1,1
4,Milwaukee Bucks,42,85,49.4,14,34,41.2,15,20,75.0,...,57,26,5,4,21,25,113,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,Denver Nuggets,39,87,44.8,10,33,30.3,11,17,64.7,...,53,23,6,4,12,12,99,4,1,1227
2456,Utah Jazz,47,106,44.3,14,35,40.0,29,33,87.9,...,57,31,8,11,17,24,137,-6,0,1228
2457,LA Clippers,54,106,50.9,12,28,42.9,23,30,76.7,...,52,34,7,5,12,27,143,6,1,1228
2458,Sacramento Kings,50,96,52.1,18,43,41.9,13,16,81.3,...,35,25,5,1,10,17,131,-5,0,1229
2459,Portland Trail Blazers,53,91,58.2,14,24,58.3,16,22,72.7,...,44,19,5,2,12,17,136,5,1,1229

In [6]:
#import all team stats datas
df_stats_10 = pd.read_csv('df_stats_2010-2011.csv')
df_stats_11 = pd.read_csv('df_player_2011-2012_update.csv')
df_stats_12 = pd.read_csv('df_player_2012-13_update.csv')
df_stats_14 = pd.read_csv('df_player_2014-2015_update.csv')
df_stats_15 = pd.read_csv('df_player_stats_2015-2016_clean.csv')
df_stats_16 = pd.read_csv('df_player_2016-2017_update.csv')
df_stats_17 = pd.read_csv('df_stats_2017-2018.csv')
df_stats_18 = pd.read_csv('df_stats_2018-2019.csv')
df_stats_20 = pd.read_csv('df_stats_2020-2021_new.csv')

#some adjustement
df_stats_10.drop(columns = ['Unnamed: 0'], inplace = True)
df_stats_12.drop(columns = ['Unnamed: 0'], inplace = True)
df_stats_14.drop(columns = ['Unnamed: 0'], inplace = True)
df_stats_15.drop(columns = ['Unnamed: 0'], inplace = True)
df_stats_16.drop(columns = ['Unnamed: 0'], inplace = True)
df_stats_17.drop(columns = ['Unnamed: 0'], inplace = True)
df_stats_18.drop(columns = ['Unnamed: 0'], inplace = True)
df_stats_20.drop(columns = ['Unnamed: 0'], inplace = True)

df_stats_16

,PLAYER,TEAM,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,REB,AST,STL,BLK,TO,PF,PTS,+/-,GAMEID,Date
0,Carmelo Anthony,New York Knicks,30:05,8,18,44.4,1,4,25.0,2,...,5,3,1,0,4,5,19,-19,0,2016-10-25
1,Kristaps Porzingis,New York Knicks,32:48,5,13,38.5,3,5,60.0,3,...,7,0,1,2,2,5,16,-21,0,2016-10-25
2,Derrick Rose,New York Knicks,29:35,7,17,41.2,1,2,50.0,2,...,3,1,0,1,4,1,17,-19,0,2016-10-25
3,Justin Holiday,New York Knicks,26:27,2,7,28.6,2,3,66.7,2,...,6,2,1,0,0,0,8,-14,0,2016-10-25
4,Willy Hernangomez,New York Knicks,9:26,2,3,66.7,0,0,0.0,0,...,1,0,0,0,1,1,4,-3,0,2016-10-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12388,Jrue Holiday,New Orleans Pelicans,15:57,4,11,36.4,0,2,0.0,0,...,3,5,0,0,1,0,8,-3,1232,2017-04-12
12389,E'Twaun Moore,New Orleans Pelicans,13:44,1,3,33.3,0,1,0.0,1,...,1,2,1,0,0,0,3,-6,1232,2017-04-12
12390,Jake Layman,Portland Trail Blazers,37:13,4,10,40.0,2,5,40.0,0,...,4,3,0,0,4,2,10,1,1232,2017-04-12
12391,Pat Connaughton,Portland Trail Blazers,36:06,7,13,53.8,5,10,50.0,0,...,7,7,0,0,3,5,19,-8,1232,2017-04-12
12392,Maurice Harkless,Portland Trail Blazers,22:17,5,6,83.3,0,0,0.0,1,...,2,2,1,0,0,1,11,5,1232,2017-04-12

In [787]:
df_scores_12.loc[0,'Date']

'2012-10-30'

In [784]:
df_scores_17.loc[0,'Date']

'10/17/2017'

In [7]:
def change_date_format(df_scores):
    df_scores_copy = df_scores.copy()
    for k in range(df_scores_copy.shape[0]):
        year = df_scores.loc[k, 'Date'].split('/')[2]
        day = df_scores.loc[k, 'Date'].split('/')[1]
        month = df_scores.loc[k, 'Date'].split('/')[0]
        df_scores_copy.loc[k, 'Date'] = year + '-' + month + '-' + day
    return df_scores_copy


#change of the date format in score
df_scores_17_good = change_date_format(df_scores_17)
df_scores_18_good = change_date_format(df_scores_18)
df_scores_20_good = change_date_format(df_scores_20)

#adding of the date columns in team stats and players stats DataFrame
df_team_10_good = add_date(df_scores_10, df_team_10)
df_stats_10_good = add_date(df_scores_10, df_stats_10)

df_team_15_good = add_date(df_scores_15, df_team_15)
df_stats_15_good = add_date(df_scores_15, df_stats_15)

df_team_17_good = add_date(df_scores_17_good, df_team_17)
#df_stats_17_good = add_date(df_scores_17_good, df_stats_17)

df_team_18_good = add_date(df_scores_18_good, df_team_18)
#df_stats_18_good = add_date(df_scores_18_good, df_stats_18)

df_team_20_good = add_date(df_scores_20_good, df_team_20)
#df_stats_20_good = add_date(df_scores_20_good, df_stats_20)

## Making adjustement between every scrapping

In [8]:
#df_scores we will use
df_scores_10
df_scores_11
df_scores_12
df_scores_13
df_scores_14
df_scores_15
df_scores_16
df_scores_17 = df_scores_17_good
df_scores_18 = df_scores_18_good
df_scores_20 = df_scores_20_good

In [9]:
#df_team we will use
df_team_10 = df_team_10_good
df_team_11
df_team_12
df_team_13
df_team_14
df_team_15 = df_team_15_good
df_team_16
df_team_17 = df_team_17_good
df_team_18 = df_team_18_good
df_team_20 = df_team_20_good

In [10]:
#check the matching of every game ID 
following_ids(df_scores_10, df_team_10)
following_ids(df_scores_11, df_team_11)
following_ids(df_scores_12, df_team_12)
following_ids(df_scores_13, df_team_13)
following_ids(df_scores_14, df_team_14)
following_ids(df_scores_15, df_team_15)
following_ids(df_scores_16, df_team_16)
following_ids(df_scores_17, df_team_17)
following_ids(df_scores_18, df_team_18)
following_ids(df_scores_20, df_team_20)

In [887]:
df_scores_10

     GAMEID        Visitor  VisitorScore      Home  HomeScore        Date
0         0         Lakers           109    Pacers         94  2010-12-15
1         1        Celtics           118    Knicks        116  2010-12-15
2         2       Clippers            91     76ers        105  2010-12-15
3         3          Bulls           110   Raptors         93  2010-12-15
4         4      Cavaliers            95      Heat        101  2010-12-15
..      ...            ...           ...       ...        ...         ...
863     863        Nuggets           103      Jazz        107  2011-04-13
864     864  Trail Blazers            86  Warriors        110  2011-04-13
865     865      Grizzlies           103  Clippers        110  2011-04-13
866     866          Spurs           103      Suns        106  2011-04-13
867     867         Lakers           116     Kings        108  2011-04-13

[868 rows x 6 columns]

In [15]:
def add_win_column(df_scores, df):
    df_scores_copy = df_scores.copy()
    df_copy = df.copy()
    df_copy['WIN'] = 0
    for k in range(df_scores_copy.shape[0]):
        game_id = df_scores_copy.loc[k, 'GAMEID']
        if df_scores_copy.loc[k, 'VisitorScore'] < df_scores_copy.loc[k, 'HomeScore']:
            row_l = df_copy.index[(df_copy['HOME'] == 0) & (df_copy['GAMEID'] == game_id)]
            row_w = df_copy.index[(df_copy['HOME'] == 1) & (df_copy['GAMEID'] == game_id)]
        else:
            row_w = df_copy.index[(df_copy['HOME'] == 0) & (df_copy['GAMEID'] == game_id)]
            row_l = df_copy.index[(df_copy['HOME'] == 1) & (df_copy['GAMEID'] == game_id)]
        df_copy.loc[row_w, 'WIN'] = 1
        df_copy.loc[row_l, 'WIN'] = 0        
    return df_copy


df_team_10_w = add_win_column(df_scores_10, df_team_10)
df_team_11_w = add_win_column(df_scores_11, df_team_11)
df_team_12_w = add_win_column(df_scores_12, df_team_12)
df_team_13_w = add_win_column(df_scores_13, df_team_13)
df_team_14_w = add_win_column(df_scores_14, df_team_14)
df_team_15_w = add_win_column(df_scores_15, df_team_15)
df_team_16_w = add_win_column(df_scores_16, df_team_16)
df_team_17_w = add_win_column(df_scores_17, df_team_17)
df_team_18_w = add_win_column(df_scores_18, df_team_18)
df_team_20_w = add_win_column(df_scores_20, df_team_20)

## Creation of the master

In [13]:
df_scores_1011 = adjust_id_and_concatenate(df_scores_10, df_scores_11)
df_scores_1012 = adjust_id_and_concatenate(df_scores_1011, df_scores_12)
df_scores_1013 = adjust_id_and_concatenate(df_scores_1012, df_scores_13)
df_scores_1014 = adjust_id_and_concatenate(df_scores_1013, df_scores_14)
df_scores_1015 = adjust_id_and_concatenate(df_scores_1014, df_scores_15)
df_scores_1016 = adjust_id_and_concatenate(df_scores_1015, df_scores_16)
df_scores_1017 = adjust_id_and_concatenate(df_scores_1016, df_scores_17)
df_scores_1018 = adjust_id_and_concatenate(df_scores_1017, df_scores_18)
df_scores_1020 = adjust_id_and_concatenate(df_scores_1018, df_scores_20)
df_scores_1020

       GAMEID    Visitor  VisitorScore           Home  HomeScore        Date
0           0     Lakers           109         Pacers         94  2010-12-15
1           1    Celtics           118         Knicks        116  2010-12-15
2           2   Clippers            91          76ers        105  2010-12-15
3           3      Bulls           110        Raptors         93  2010-12-15
4           4  Cavaliers            95           Heat        101  2010-12-15
...       ...        ...           ...            ...        ...         ...
11551   11552  Mavericks           121   Timberwolves        136   2021-5-16
11552   11553     Lakers           110       Pelicans         98   2021-5-16
11553   11554   Clippers           112        Thunder        117   2021-5-16
11554   11555    Nuggets           116  Trail Blazers        132   2021-5-16
11555   11556       Jazz           121          Kings         99   2021-5-16

[11556 rows x 6 columns]

In [18]:
df_team_1011 = adjust_id_and_concatenate(df_team_10_w, df_team_11_w)
df_team_1012 = adjust_id_and_concatenate(df_team_1011, df_team_12_w)
df_team_1013 = adjust_id_and_concatenate(df_team_1012, df_team_13_w)
df_team_1014 = adjust_id_and_concatenate(df_team_1013, df_team_14_w)
df_team_1015 = adjust_id_and_concatenate(df_team_1014, df_team_15_w)
df_team_1016 = adjust_id_and_concatenate(df_team_1015, df_team_16_w)
df_team_1017 = adjust_id_and_concatenate(df_team_1016, df_team_17_w)
df_team_1018 = adjust_id_and_concatenate(df_team_1017, df_team_18_w)
df_team_1020 = adjust_id_and_concatenate(df_team_1018, df_team_20_w)
df_team_1020

,TEAM,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,...,STL,BLK,TO,PF,PTS,+/-,HOME,GAMEID,Date,WIN
0,Los Angeles Lakers,42,82.0,51.2,8,17.0,47.1,17,24.0,70.8,...,2,5,8,22,109,15.0,0,0,2010-12-15,1
1,Indiana Pacers,38,81.0,46.9,6,21.0,28.6,12,16.0,75.0,...,3,6,6,16,94,-15.0,1,0,2010-12-15,0
2,Boston Celtics,45,86.0,52.3,7,14.0,50.0,21,21.0,100.0,...,11,2,13,19,118,2.0,0,1,2010-12-15,1
3,New York Knicks,43,81.0,53.1,9,23.0,39.1,21,26.0,80.8,...,5,5,17,18,116,-2.0,1,1,2010-12-15,0
4,Los Angeles Clippers,33,83.0,39.8,5,19.0,26.3,20,27.0,74.1,...,3,4,14,18,91,-14.0,0,2,2010-12-15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23033,Oklahoma City Thunder,50,94.0,53.2,8,26.0,30.8,9,16.0,56.3,...,1,12,15,11,117,5.0,1,11554,2021-5-16,1
23034,Denver Nuggets,44,98.0,44.9,14,37.0,37.8,14,15.0,93.3,...,8,2,6,20,116,-16.0,0,11555,2021-5-16,0
23035,Portland Trail Blazers,46,87.0,52.9,18,43.0,41.9,22,26.0,84.6,...,3,6,13,16,132,16.0,1,11555,2021-5-16,1
23036,Utah Jazz,41,86.0,47.7,18,39.0,46.2,21,25.0,84.0,...,9,3,16,14,121,22.0,0,11556,2021-5-16,1
23037,Sacramento Kings,42,90.0,46.7,9,30.0,30.0,6,10.0,60.0,...,10,5,12,22,99,-22.0,1,11556,2021-5-16,0

## Some cleaning to make it fresh

In [19]:
#convert Date to datatetime
df_scores_1020['Date'] = pd.to_datetime(df_scores_1020['Date'], yearfirst = False)
df_team_1020['Date'] = pd.to_datetime(df_team_1020['Date'], yearfirst = False)

Cleaning of scores first

In [20]:
print(df_scores_1020['Visitor'].unique())
#get the index of the games we don't want
wrong_teams = ['East', 'Rookies', 'West', 'Team Shaq', 'Shaq', 'Hill', 'World', 'USA', 'LeBron', 'Away']
idx = []
for wrong_team in wrong_teams:
    idx_list = df_scores_1020[df_scores_1020['Visitor'] == wrong_team].index.to_list()
    idx += idx_list
df_scores_1020.drop(idx, inplace = True)
print(df_scores_1020['Visitor'].unique())

['Lakers' 'Celtics' 'Clippers' 'Bulls' 'Cavaliers' 'Bobcats' 'Kings'
 'Rockets' 'Bucks' 'Timberwolves' 'Trail Blazers' 'Wizards' 'Hawks'
 'Spurs' 'Heat' 'Nets' 'Jazz' 'Grizzlies' 'Suns' '76ers' 'Knicks'
 'Warriors' 'Pacers' 'Hornets' 'Magic' 'Mavericks' 'Thunder' 'Pistons'
 'Nuggets' 'Raptors' 'East' 'Rookies' 'West' 'Team Shaq' 'Shaq' 'Pelicans'
 'Hill' 'World' 'USA']
['Lakers' 'Celtics' 'Clippers' 'Bulls' 'Cavaliers' 'Bobcats' 'Kings'
 'Rockets' 'Bucks' 'Timberwolves' 'Trail Blazers' 'Wizards' 'Hawks'
 'Spurs' 'Heat' 'Nets' 'Jazz' 'Grizzlies' 'Suns' '76ers' 'Knicks'
 'Warriors' 'Pacers' 'Hornets' 'Magic' 'Mavericks' 'Thunder' 'Pistons'
 'Nuggets' 'Raptors' 'Pelicans']

In [21]:
#unify the name Pelicans and Hornets to the right franchise New Orleans and Charlotte

#first apparition of the Pells the 2013-11-01
df_scores_1020['Visitor'][(df_scores_1020['Visitor'] == 'Hornets') 
                          & (df_scores_1020['Date'] < datetime.datetime(2013, 11, 1))] = 'Pelicans'
#last apparition of the Bobcats the 2014-04-14
df_scores_1020['Visitor'][(df_scores_1020['Visitor'] == 'Bobcats') & 
                          (df_scores_1020['Date'] <= datetime.datetime(2014, 4, 16))] = 'Hornets'

#first apparition of the Pells the 2013-11-01
df_scores_1020['Home'][(df_scores_1020['Home'] == 'Hornets') & 
                          (df_scores_1020['Date'] < datetime.datetime(2013, 11, 1))] = 'Pelicans'
#last apparition of the Bobcats the 2014-04-14
df_scores_1020['Home'][(df_scores_1020['Home'] == 'Bobcats') & 
                          (df_scores_1020['Date'] <= datetime.datetime(2014, 4, 16))] = 'Hornets'

print(df_scores_1020['Visitor'].unique())
print(df_scores_1020['Home'].unique())

<ipython-input-21-0862834a082f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scores_1020['Visitor'][(df_scores_1020['Visitor'] == 'Hornets')
<ipython-input-21-0862834a082f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scores_1020['Visitor'][(df_scores_1020['Visitor'] == 'Bobcats') &
<ipython-input-21-0862834a082f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scores_1020['Home'][(df_scores_1020['Home'] == 'Hornets') &
<ipython-input-21-0862834a082f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scores_1020['Home'][(df_scores_1020['Home'] == 'Bobcats') &

['Lakers' 'Celtics' 'Clippers' 'Bulls' 'Cavaliers' 'Hornets' 'Kings'
 'Rockets' 'Bucks' 'Timberwolves' 'Trail Blazers' 'Wizards' 'Hawks'
 'Spurs' 'Heat' 'Nets' 'Jazz' 'Grizzlies' 'Suns' '76ers' 'Knicks'
 'Warriors' 'Pacers' 'Pelicans' 'Magic' 'Mavericks' 'Thunder' 'Pistons'
 'Nuggets' 'Raptors']
['Pacers' 'Knicks' '76ers' 'Raptors' 'Heat' 'Grizzlies' 'Pelicans'
 'Thunder' 'Spurs' 'Suns' 'Mavericks' 'Nets' 'Celtics' 'Nuggets' 'Hawks'
 'Pistons' 'Rockets' 'Trail Blazers' 'Magic' 'Wizards' 'Cavaliers' 'Bulls'
 'Bucks' 'Kings' 'Warriors' 'Clippers' 'Hornets' 'Lakers' 'Timberwolves'
 'Jazz']

Cleaning of team statistics

In [22]:
df_team_1020['TEAM'].unique()

array(['Los Angeles Lakers', 'Indiana Pacers', 'Boston Celtics',
       'New York Knicks', 'Los Angeles Clippers', 'Philadelphia 76ers',
       'Chicago Bulls', 'Toronto Raptors', 'Cleveland Cavaliers',
       'Miami Heat', 'Charlotte Bobcats', 'Memphis Grizzlies',
       'Sacramento Kings', 'New Orleans Hornets', 'Houston Rockets',
       'Oklahoma City Thunder', 'Milwaukee Bucks', 'San Antonio Spurs',
       'Minnesota Timberwolves', 'Phoenix Suns', 'Portland Trail Blazers',
       'Dallas Mavericks', 'Washington Wizards', 'New Jersey Nets',
       'Atlanta Hawks', 'Denver Nuggets', 'Detroit Pistons', 'Utah Jazz',
       'Orlando Magic', 'Golden State Warriors', 'East', 'West',
       'Rookies Rookies', 'Sophomores Sophomores',
       'East NBA All Stars East', 'West NBA All Stars West',
       'Team Shaq Team Shaq', 'Team Chuck Team Chuck', 'Brooklyn Nets',
       'Team Shaq', 'Team Chuck', 'New Orleans Pelicans', 'Team Hill',
       'Team Webber', 'Charlotte Hornets', 'World World', 'USA USA',
       'LA Clippers'], dtype=object)

In [23]:
wrong_teams = ['East', 'West', 'Rookies Rookies', 'Sophomores Sophomores', 'East NBA All Stars East', 
               'West NBA All Stars West', 'Team Shaq Team Shaq', 'Team Chuck Team Chuck', 
               'Team Shaq', 'Team Chuck', 'Team Hill', 'Team Webber', 'World World', 'USA USA']
idx = []
for wrong_team in wrong_teams:
    idx_list = df_team_1020[df_team_1020['TEAM'] == wrong_team].index.to_list()
    idx += idx_list
print(df_team_1020.shape)
df_team_1020.drop(idx, inplace = True)
print(df_team_1020.shape)
print(df_team_1020['TEAM'].unique())

(23038, 24)
(23008, 24)
['Los Angeles Lakers' 'Indiana Pacers' 'Boston Celtics' 'New York Knicks'
 'Los Angeles Clippers' 'Philadelphia 76ers' 'Chicago Bulls'
 'Toronto Raptors' 'Cleveland Cavaliers' 'Miami Heat' 'Charlotte Bobcats'
 'Memphis Grizzlies' 'Sacramento Kings' 'New Orleans Hornets'
 'Houston Rockets' 'Oklahoma City Thunder' 'Milwaukee Bucks'
 'San Antonio Spurs' 'Minnesota Timberwolves' 'Phoenix Suns'
 'Portland Trail Blazers' 'Dallas Mavericks' 'Washington Wizards'
 'New Jersey Nets' 'Atlanta Hawks' 'Denver Nuggets' 'Detroit Pistons'
 'Utah Jazz' 'Orlando Magic' 'Golden State Warriors' 'Brooklyn Nets'
 'New Orleans Pelicans' 'Charlotte Hornets' 'LA Clippers']

In [24]:
#change each team name in statistics dataframe to the franhcise name
#New Jersey Nets became Brooklyn Nets so no need to change
#New Orleans Hornets will be Pellicans
#Charlotte Hornets  will be Bobcats
#LA Clippers and Los Angeles Clippers

#didn't find other choice than do it manually
dict_ = {}
dict_['Boston Celtics'] = 'Celtics'
dict_['New York Knicks'] = 'Knicks'
dict_['Los Angeles Clippers'] = 'Clippers'
dict_['Philadelphia 76ers'] = '76ers'
dict_['Chicago Bulls'] = 'Bulls'
dict_['Toronto Raptors'] = 'Raptors'
dict_['Miami Heat'] = 'Heat'
dict_['Charlotte Bobcats'] = 'Hornets'
dict_['Memphis Grizzlies'] = 'Grizzlies'
dict_['New Orleans Hornets'] = 'Pelicans'
dict_['Houston Rockets'] = 'Rockets'
dict_['Oklahoma City Thunder'] = 'Thunder'
dict_['San Antonio Spurs'] = 'Spurs'
dict_['Minnesota Timberwolves'] = 'Timberwolves'
dict_['Phoenix Suns'] = 'Suns'
dict_['Portland Trail Blazers'] = 'Trail Blazers'
dict_['Washington Wizards'] = 'Wizards'
dict_['New Jersey Nets'] = 'Nets'
dict_['Atlanta Hawks'] = 'Hawks'
dict_['Denver Nuggets'] = 'Nuggets'
dict_['Utah Jazz'] = 'Jazz'
dict_['Orlando Magic'] = 'Magic'
dict_['Golden State Warriors'] = 'Warriors'
dict_['Indiana Pacers'] = 'Pacers'
dict_['Milwaukee Bucks'] = 'Bucks'
dict_['Cleveland Cavaliers'] = 'Cavaliers'
dict_['Sacramento Kings'] = 'Kings'
dict_['Dallas Mavericks'] = 'Mavericks'
dict_['Los Angeles Lakers'] = 'Lakers'
dict_['Detroit Pistons'] = 'Pistons'
dict_['Brooklyn Nets'] = 'Nets'
dict_['New Orleans Pelicans'] = 'Pelicans'
dict_['Charlotte Hornets'] = 'Hornets'
dict_['LA Clippers'] = 'Clippers'

old_team_names = list(dict_.keys())
for old_team_name in old_team_names:
    df_team_1020['TEAM'][df_team_1020['TEAM'] == old_team_name] = dict_[old_team_name]
    
df_team_1020['TEAM'].unique()

<ipython-input-24-882fadc79de4>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_team_1020['TEAM'][df_team_1020['TEAM'] == old_team_name] = dict_[old_team_name]

array(['Lakers', 'Pacers', 'Celtics', 'Knicks', 'Clippers', '76ers',
       'Bulls', 'Raptors', 'Cavaliers', 'Heat', 'Hornets', 'Grizzlies',
       'Kings', 'Pelicans', 'Rockets', 'Thunder', 'Bucks', 'Spurs',
       'Timberwolves', 'Suns', 'Trail Blazers', 'Mavericks', 'Wizards',
       'Nets', 'Hawks', 'Nuggets', 'Pistons', 'Jazz', 'Magic', 'Warriors'],
      dtype=object)

In [26]:
import numpy as np

In [27]:
np.sort(df_team_1020['TEAM'].unique()) == np.sort(df_scores_1020['Visitor'].unique())

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [28]:
df_scores_1020.to_csv('df_scores_super_master.csv')
df_team_1020.to_csv('df_team_stat_super_master.csv')